In [ ]:
#STRING

In [2]:
print("this is string")
print('this is also string')

this is string
this is also string

In [ ]:
#CHANGING CASE IN A STRING WITH METHODS

In [4]:
name="ishan kapoor"
print(name.title()) #title() changes first letter of both words into uppercase

Ishan Kapoor

In [7]:
name = "Yash Jain"
print(name.upper()) #changes all letters to uppercase
print(name.lower()) #changes all letters to lowercase

YASH JAIN
yash jain

In [8]:
#USING VARIABLES IN STRING

In [24]:
f_name = "ishan"
l_name = "kapoor"
full_name = f"{f_name} {l_name}" #These strings are called f-strings. The f is for format, because Python
                                 #formats the string by replacing the name of any variable in braces with its value

print(full_name)
print(f"hello,{full_name.title()}!")

message = f"hello,{full_name.title()}!"
print(message)

ishan kapoor
hello,Ishan Kapoor!
hello,Ishan Kapoor!

In [ ]:
# F-strings were first introduced in Python 3.6. If you’re using Python 3.5 or earlier,
# you’ll need to use the format() method rather than this f syntax. To use format(), list
# the variables you want to use in the string inside the parentheses following format.
# Each variable is referred to by a set of braces; the braces will be filled by the values
# listed in parentheses in the order provided:

In [29]:
full_name = "{} {}".format(f_name,l_name) 

print(full_name)

ishan kapoor

In [ ]:
# Adding Whitespace to Strings with Tabs or Newlines

In [33]:
print("\tpython") #\t = tab
print("python\nprogramming\nlanguage") #\n = newline
print("\tpython\n\tprogramming\n\tlanguage") # combination of \n and \t

	python
python
programming
language
	python
	programming
	language

In [34]:
#Stripping Whitespace

In [51]:
prog_lan = "python   "     # whitespaces right side 
prog_lan.rstrip()          # remove whitespaces from right side

prog_lan                   # rstrip can only remove whitespaces temporarily so if you print value of prog_lan
                           # it is with whitespace

prog_lan = prog_lan.rstrip() #To remove the whitespace from the string permanently, you have to
prog_lan                     #associate the stripped value with the variable name:

'python'

In [54]:
prog_lan = "    python"   # whitespaces left side
prog_lan.lstrip()        # remove whitespaces from left side

prog_lan                # lstrip can only remove whitespaces temporarily so if you print value of prog_lan
                        # it is with whitespace


prog_lan = prog_lan.lstrip() #To remove the whitespace from the string permanently, you have to
prog_lan                     #associate the stripped value with the variable name:

'python'

In [60]:
prog_lan = "   python   " # whitespaces at both side
prog_lan.strip()          # remove whitespaces from both side . it also remove whitespaces temporarily

prog_lan 
prog_lan = prog_lan.strip()
prog_lan

'python'

In [70]:
full_name = "ishan          kapoor " # rstrip doesn't remove whitespaces between 2 words
full_name.rstrip()

'ishan          kapoor'

In [71]:
# using Apostrophe and quotation mark in string

In [73]:
print("One of Python's strengths is its diverse community.") # Apostrophe in a string

One of Python's strengths is its diverse community.

In [75]:
print('Albert Einstein once said, “A person who never made a mistake never tried anything new.”') # Quotation mark in a string

Albert Einstein once said, “A person who never made a mistake never tried anything new.”