# What Is a List?

A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family. You can put anything you want into a list.
the items in your list don’t have to be related in any particular way. Because
a list usually contains more than one element, it’s a good idea to make the
name of your list plural, such as letters, digits, or names.
In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [40]:
planets = ["Mercury","Venus","Earth","Mars","Jupiter","Saturn","Uranus","Neptune"]
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Accessing Elements in a List

Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. 
To access an element in a list, write the name of the list
followed by the index of the item enclosed in square brackets.

In [31]:
 planets[3]

'Mars'

In [32]:
print(planets[3].upper())

MARS

##### Index Positions Start at 0, Not 1
Python considers the first item in a list to be at position 0, not position 1.

In [34]:
planets[0]
print(planets[0])

Mercury

In [38]:
# Python has a special syntax for accessing the last element in a list. By asking for the item at index -1,

planets = planets[-1]  
print(planets)

Neptune

##### Using Individual Values from a List

In [41]:
message = f"i live on a blue planet named '{planets[2].title()}' "
print(message)

i live on a blue planet named 'Earth'

#### Modifying Elements in a List

In [58]:
datatypes = ['integer','float','string']

In [43]:
datatypes[0] = 'int'
datatypes[2] = 'str'

In [44]:
print(datatypes)

['int', 'float', 'str']

##### Appending Elements to the End of a List

In [59]:
datatypes.append("bool")
print(datatypes)

['integer', 'float', 'string', 'bool']

In [92]:
car = []

In [101]:
# append takes only 1 argument and add element at the end
car.append('BMW')         
car.append('Aston Martin')
car.append('Mercedes')
print(car)

['BMW', 'Aston Martin', 'Mercedes']

###### Inserting Elements into a List
     Add element at any position

In [94]:
car.insert(1,"Porsche")
print(car)

['BMW', 'Porsche', 'Aston Martin', 'Mercedes']

###### Removing an Item Using the del Statement

In [95]:
del car[1]

In [96]:
print(car)

['BMW', 'Aston Martin', 'Mercedes']

###### Removing an Item Using the pop() Method

In [102]:
a1=car.pop()        
a2=car.pop()
a3=car.pop()

In [103]:
print(a1,a2,a3)

Mercedes Aston Martin BMW

In [105]:
colour = ['Red','Blue','Green']
colour.pop(1)                    # pop using position

'Blue'

In [106]:
print(colour)

['Red', 'Green']

###### what to use pop() or del 

If you’re unsure whether to use the del statement or the pop() method,
here’s a simple way to decide: when you want to delete an item from a list
and not use that item in any way, use the del statement; if you want to use an
item as you remove it, use the pop() method.

###### Removing an Item by Value

Sometimes you won’t know the position of the value you want to remove
from a list. If you only know the value of the item you want to remove, you
can use the remove() method.

In [117]:
week_days= ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
print(week_days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [118]:
week_days.remove('Sunday')

In [121]:
print(week_days)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

###### Note:- 
The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop
to make sure all occurrences of the value are removed

# Organizing a List

###### 1) Sorting a List Permanently with the sort() Method

In [124]:
superheroes = ["Superman","Batman","Aquaman","Shazam"]

In [125]:
superheroes.sort()  # sort in Alphabetic order

In [126]:
print(superheroes)

['Aquaman', 'Batman', 'Shazam', 'Superman']

In [127]:
superheroes.sort(reverse=True) # sort in Reverse Alphabetic order

In [128]:
print(superheroes)

['Superman', 'Shazam', 'Batman', 'Aquaman']

###### 2) Sorting a List Temporarily with the sorted() Function

In [151]:
fruit = ['Banana','Apple','Orange','Mango']

In [152]:
print(" original list :\n",fruit)

 original list :
 ['Banana', 'Apple', 'Orange', 'Mango']

In [157]:
print(" sorted list :\n",sorted(fruit))  # Alphabetic order

 sorted list :
 ['Apple', 'Banana', 'Mango', 'Orange']

In [158]:
print("sorted doesn't change original list:\n",fruit)

sorted doesn't change original list:
 ['Banana', 'Apple', 'Orange', 'Mango']

In [159]:
sorted(fruit,reverse=True)         # Reverse Alphabetic order

['Orange', 'Mango', 'Banana', 'Apple']

#### Printing a List in Reverse Order

In [161]:
integer = [1,3,5,7,9]
integer.reverse()
print(integer)

[9, 7, 5, 3, 1]

#### Finding the Length of a List

In [164]:
country = ["India","USA","Uk","Italy","France","China","Japan"] 
#Note:- Python counts the items in a list starting with one, so you shouldn’t run into any offby-one errors when
#determining the length of a list.

In [163]:
len(country)

7